.flex {
   color: green;
}
@font-face {
   font-family: "Raleway";
   src: url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
   font-weight: normal;
}
@font-face {
   font-family: "Raleway";
   src: url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
   font-weight: bold;
}
.gridParent {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 10px;
   justify-items: stretch;
   .greedItem {
      font-family: "Raleway";
      font-weight: bold;
      text-align: center;
      padding: 30px;
      border: 1px solid #000;
   }
}
